<main>
    <form action= "/cats/edit/{{findNeedCat.id}}" method="post" class="cat-form">
        <h2>Edit Cat</h2>
        <label for="name">Name</label>
        <input type="text" id="name" name="nameInput" value={{findNeedCat.name}}>
        <label for="description">Description</label>
        <textarea id="description" name="descriptionInput">{{findNeedCat.description}}</textarea>
        <label for="image">Image</label>
        <input type="file" id="image">
        <label for="group">Breed</label>
        <select id="group" name="breedInput">
            <option value={{findNeedCat.breed}}>{{findNeedCat.breed}}</option>
        </select>
        <button>Edit Cat</button>
    </form>
</main>